In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

# Preliminary Exploration

In [186]:
df = pd.read_csv('sese-2017-v1.csv',encoding='cp1252', index_col=0)

In [187]:
df = df[df['Q29Turnover12Mnth']>=0]

In [188]:
rdf = pd.DataFrame()

In [189]:
rdf['Turn Over'] = df['Q29Turnover12Mnth']

In [190]:
rdf['Age'] = df['Q31BusStarted']

In [191]:
age_map = {'Less than a year ago':0,
           '1 or more but less than 3 years ago':1,
          '3 or more but less than 5 years ago': 2, 
          '5 or more but less than 10 years ago':3,
          '10 or more years ago':4,
          '':1}

In [192]:
rdf['Age'] = rdf['Age'].map(age_map)

In [193]:
rdf['Own Investment'] = pd.to_numeric(df['Q36Totownmoney'])

In [194]:
rdf['Own Investment'] = rdf['Own Investment'].fillna(0)

In [195]:
rdf['Borrowed Money'] = pd.to_numeric(df['Q39Totbormoney']).fillna(0)

In [196]:
rdf['Raw Mat'] = pd.to_numeric(df['Q45Costrawmat']).fillna(0)

In [197]:
rdf['Stock'] = pd.to_numeric(df['Q47Costsupp']).fillna(0)

In [198]:
rdf['Last Month'] = pd.to_numeric(df['Q48Turnoverlstmnth']).fillna(0)

In [199]:
rdf['Employee Cost'] = (pd.to_numeric(df['Q591Empl_Salary']) + pd.to_numeric(df['Q592Empl_Inkind']) + pd.to_numeric(df['Q593Empl_Transprt'])
+ pd.to_numeric(df['Q594Empl_Other']))

In [200]:
rdf['Employee Cost'] = rdf['Employee Cost'].fillna(0)

In [201]:
rdf['Own Sal'] = (pd.to_numeric(df['Q601Own_Salary']) + pd.to_numeric(df['Q602Own_Inkind']) + pd.to_numeric(df['Q603Own_Transprt'])
+ pd.to_numeric(df['Q604Own_Other']))

In [202]:
rdf['Costs'] = (pd.to_numeric(df['Q621cstmachinery']) + pd.to_numeric(df['Q622CstTools']) + pd.to_numeric(df['Q623cstvehicles'])
+ pd.to_numeric(df['Q624cstbuildings']) + pd.to_numeric(df['Q625cstFurniture']) + pd.to_numeric(df['Q626cstother']))

In [203]:
rdf['Net Profit Monthly'] = pd.to_numeric(df['Q64Avenetprofit'])

In [204]:
rdf['Debt'] = pd.to_numeric(df['Q67Totaldebt']).fillna(0)

In [205]:
rdf['Age'].fillna(1)

Uqno
165101480000011401    1.0
166102850000001101    1.0
168100990000001501    4.0
169100760000002001    1.0
171100050000014001    1.0
                     ...
987102470000013001    3.0
987102590180000901    1.0
987103540000015701    4.0
987103540000017701    4.0
987105070000016101    1.0
Name: Age, Length: 1098, dtype: float64

In [208]:
rdf = rdf.dropna()

# Model just out of interest sake

In [209]:
from sklearn.model_selection import train_test_split

In [210]:
X = rdf.drop('Turn Over',axis=1)
y = rdf['Turn Over']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [211]:
from sklearn.linear_model import LinearRegression

In [212]:
linear_model = LinearRegression()

In [213]:
linear_model.fit(X_train,y_train)

LinearRegression()

In [217]:
y_pred = linear_model.predict(X_test)

In [218]:
res = pd.DataFrame()

In [219]:
res['y test']= y_test

In [220]:
res['y pred'] = y_pred

In [226]:
res['diff'] = (res['y test'] - res['y pred'])/res['y test']

In [241]:
res.head(20)

                      y test        y pred       diff
Uqno
760106800100000101   13500.0  22744.009081  -0.684741
294107020000006901    1200.0  16939.613214 -13.116344
271102830000012801    2400.0  21090.867640  -7.787862
967100440000008101   26400.0  26707.748076  -0.011657
864101160000003901    3000.0  19474.023685  -5.491341
976102680000020501    1000.0  21584.979573 -20.584980
506103240000016401   60000.0  21796.536860   0.636724
664102410000003701   20000.0  41193.412757  -1.059671
987102470000006401     600.0  16448.108705 -26.413515
860101810000015201  144000.0  70292.855319   0.511855
966106060000004901   12000.0  44328.921734  -2.694077
799127500000001601    4000.0  24061.828459  -5.015457
877107640000008601    8000.0  20924.789486  -1.615599
798125620000025301   74400.0  45571.665928   0.387478
798109480000017401   15000.0  65058.573049  -3.337238
966107930000010801   30000.0  39615.145928  -0.320505
662101370040004901    6000.0  19536.909848  -2.256152
797111630000005301  132000.0  76082.658034   0.423616
872102930000000701    8400.0  19593.428574  -1.332551
871100400000021101    1500.0  18112.493070 -11.074995