In [2]:
import pandas as pd
import numpy as np

# <b>NOTES<b>

## <b>Ideas:<b>
    -Merge Wave1, Wave2 and Wave3 in order to look at the same population throughout and check the differences
    -
    -
    -

In [3]:
#Convert from .dta to .csv
Wave2 = pd.read_stata("Wave2.dta")
# df.to_csv('Wave2.csv')
# df = pd.read_csv("Wave2.csv", index_col="pid", delimiter=",", low_memory=False)
# display(Wave2.head(5))
Wave2.info()

Wave2 = Wave2[Wave2['w2_nc_outcome'] == "Successfully Interviewed"]
# display(Wave2.head(5))
Wave2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7051 entries, 0 to 7050
Columns: 177 entries, pid to w2_nc_intlng3
dtypes: category(163), int32(1), object(13)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5676 entries, 4 to 7050
Columns: 177 entries, pid to w2_nc_intlng3
dtypes: category(163), int32(1), object(13)
memory usage: 1.7+ MB

We have now narrrowed down our dataset to only the people who were successfully interviewed.

In [4]:
Wave1 = pd.read_stata("Wave1.dta")
# display(Wave1.head(5))
Wave1.info()

Wave1 = Wave1[Wave1['w1_nc_outcome'] == "Successfully Interviewed"]
# display(Wave1.head(5))
Wave1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7073 entries, 0 to 7072
Columns: 170 entries, pid to w1_nc_intlng11
dtypes: category(157), int32(1), object(12)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7073 entries, 0 to 7072
Columns: 170 entries, pid to w1_nc_intlng11
dtypes: category(157), int32(1), object(12)
memory usage: 2.0+ MB

In [5]:
Wave3 = pd.read_stata("Wave3.dta")
# display(Wave3.head(5))
Wave3.info()

Wave3 = Wave3[Wave3['w3_nc_outcome'] == "Successfully Interviewed"]
# display(Wave3.head(5))
Wave3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8098 entries, 0 to 8097
Columns: 177 entries, pid to w3_nc_intlng3
dtypes: category(163), int32(1), object(13)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6130 entries, 4 to 8097
Columns: 177 entries, pid to w3_nc_intlng3
dtypes: category(163), int32(1), object(13)
memory usage: 1.8+ MB

In [80]:
frames = [Wave1, Wave2, Wave3]
temp = pd.merge(Wave1, Wave2, how='inner', on='pid')
df = pd.merge(temp, Wave3, how='inner', on='pid')

display(df.head(5))
df.info()

,pid,w1_nc_outcome,w1_nc_intrv_c,w1_nc_intrv_d,w1_nc_intrv_m,w1_nc_intrv_y,w1_nc_duration,w1_nc_dob_m,w1_nc_dob_y,w1_nc_gen,...,w3_nc_smkprice_ld,w3_nc_smkbrand_ld,w3_nc_smkbrand_ld_o,w3_nc_smkcigday,w3_nc_smkbrand_after,w3_nc_smkbrand_after_o,w3_nc_intres,w3_nc_intlng1,w3_nc_intlng2,w3_nc_intlng3
0,301067,Successfully Interviewed,609,15th,May,2020,15.2,July,1971.0,Woman,...,NaN,NaN,,NaN,NaN,,Friendly,Sepedi,NaN,NaN
1,301079,Successfully Interviewed,609,22nd,May,2020,15.37,February,1970.0,Woman,...,NaN,NaN,,NaN,NaN,,Friendly,Sepedi,Sesotho,NaN
2,301082,Successfully Interviewed,624,4th,June,2020,25.27,June,1989.0,Man,...,NaN,NaN,,NaN,NaN,,Friendly,IsiXhosa,NaN,NaN
3,301086,Successfully Interviewed,644,4th,June,2020,17.18,June,1972.0,Woman,...,NaN,NaN,,NaN,NaN,,Friendly,IsiZulu,NaN,NaN
4,301088,Successfully Interviewed,630,27th,May,2020,21.13,May,1978.0,Man,...,NaN,NaN,,NaN,NaN,,Hostile,IsiXhosa,English,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4508 entries, 0 to 4507
Columns: 522 entries, pid to w3_nc_intlng3
dtypes: category(483), int32(1), object(38)
memory usage: 3.9+ MB

In [82]:
df_dates = df[['pid','w1_nc_dob_y', 'w2_nc_dob_y', 'w3_nc_dob_y', 'w1_nc_dob_m', 'w2_nc_dob_m', 'w3_nc_dob_m', 'w1_nc_gen', 'w2_nc_gen', 'w3_nc_gen']].copy()
df_dates.head(10)

,pid,w1_nc_dob_y,w2_nc_dob_y,w3_nc_dob_y,w1_nc_dob_m,w2_nc_dob_m,w3_nc_dob_m,w1_nc_gen,w2_nc_gen,w3_nc_gen
0,301067,1971.0,1971.0,1971.0,July,July,July,Woman,Woman,Woman
1,301079,1970.0,1970.0,1970.0,February,February,February,Woman,Woman,Woman
2,301082,1989.0,1989.0,1989.0,June,June,June,Man,Man,Man
3,301086,1972.0,1972.0,1972.0,June,June,June,Woman,Woman,Woman
4,301088,1978.0,1978.0,1978.0,May,May,May,Man,Man,Man
5,301090,1964.0,1964.0,1964.0,August,August,August,Woman,Woman,Woman
6,301092,1981.0,1981.0,1981.0,October,October,October,Woman,Woman,Woman
7,301104,1966.0,1966.0,1966.0,October,October,October,Woman,Woman,Woman
8,301113,1992.0,1992.0,1992.0,March,March,March,Woman,Woman,Woman
9,301177,1981.0,1981.0,1981.0,December,December,December,Woman,Woman,Woman

There are several cases where the values are inconsistent across the different waves. I believe this is an input error since many of the entires will match. For example, the year of birth in record #4503 is (1989, 1990, 1989) yet the month of birth and gender is consistent (August, Woman). 
To clean this up, we should look at the triplet of columns (that we are interested in - birth date, gender, etc) and set all 3 values to whichever one appears most often.

In [83]:
df_dates_edited = df_dates.copy()

for index, row in df_dates.iterrows():
    years = row[['w1_nc_dob_y', 'w2_nc_dob_y', 'w3_nc_dob_y']]
    months = row[['w1_nc_dob_m', 'w2_nc_dob_m', 'w3_nc_dob_m']]
    genders = row[['w1_nc_gen', 'w2_nc_gen', 'w3_nc_gen']]

    YearOfBirth = years.value_counts().idxmax()
    MonthOfBirth = months.value_counts().idxmax()
    Gender = genders.value_counts().idxmax()



    df_dates_edited.loc[index, 'YearOfBirth'] = YearOfBirth
    df_dates_edited.loc[index, 'MonthOfBirth'] = MonthOfBirth
    df_dates_edited.loc[index, 'Gender'] = Gender

In [84]:
df_dates_edited = df_dates_edited.drop(['w1_nc_dob_y', 'w2_nc_dob_y', 'w3_nc_dob_y', 'w1_nc_dob_m', 'w2_nc_dob_m', 'w3_nc_dob_m', 'w1_nc_gen', 'w2_nc_gen', 'w3_nc_gen'], axis=1)
df_dates_edited

         pid YearOfBirth MonthOfBirth Gender
0     301067      1971.0         July  Woman
1     301079      1970.0     February  Woman
2     301082      1989.0         June    Man
3     301086      1972.0         June  Woman
4     301088      1978.0          May    Man
...      ...         ...          ...    ...
4503  799572      1989.0       August  Woman
4504  799619      1978.0    September    Man
4505  799644      1976.0      January  Woman
4506  799780      1996.0         July  Woman
4507  799922      1971.0      January    Man

[4508 rows x 4 columns]

In [92]:
# df = df.drop(['pid','w1_nc_dob_y', 'w2_nc_dob_y', 'w3_nc_dob_y', 'w1_nc_dob_m', 'w2_nc_dob_m', 'w3_nc_dob_m', 'w1_nc_gen', 'w2_nc_gen', 'w3_nc_gen'], axis=1)

df = pd.concat([df_dates_edited, df], axis=1)
df

,pid,YearOfBirth,MonthOfBirth,Gender,w1_nc_outcome,w1_nc_intrv_c,w1_nc_intrv_d,w1_nc_intrv_m,w1_nc_intrv_y,w1_nc_duration,...,w3_nc_smkprice_ld,w3_nc_smkbrand_ld,w3_nc_smkbrand_ld_o,w3_nc_smkcigday,w3_nc_smkbrand_after,w3_nc_smkbrand_after_o,w3_nc_intres,w3_nc_intlng1,w3_nc_intlng2,w3_nc_intlng3
0,301067,1971.0,July,Woman,Successfully Interviewed,609,15th,May,2020,15.2,...,NaN,NaN,,NaN,NaN,,Friendly,Sepedi,NaN,NaN
1,301079,1970.0,February,Woman,Successfully Interviewed,609,22nd,May,2020,15.37,...,NaN,NaN,,NaN,NaN,,Friendly,Sepedi,Sesotho,NaN
2,301082,1989.0,June,Man,Successfully Interviewed,624,4th,June,2020,25.27,...,NaN,NaN,,NaN,NaN,,Friendly,IsiXhosa,NaN,NaN
3,301086,1972.0,June,Woman,Successfully Interviewed,644,4th,June,2020,17.18,...,NaN,NaN,,NaN,NaN,,Friendly,IsiZulu,NaN,NaN
4,301088,1978.0,May,Man,Successfully Interviewed,630,27th,May,2020,21.13,...,NaN,NaN,,NaN,NaN,,Hostile,IsiXhosa,English,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4503,799572,1989.0,August,Woman,Successfully Interviewed,609,15th,May,2020,16.92,...,NaN,NaN,,NaN,NaN,,Friendly,Sepedi,NaN,NaN
4504,799619,1978.0,September,Man,Successfully Interviewed,616,21st,May,2020,18.9,...,5.0,Rudland & George (RG),,10.0,Pall Mall,,Friendly,Sepedi,Sesotho,NaN
4505,799644,1976.0,January,Woman,Successfully Interviewed,633,16th,June,2020,23.37,...,NaN,NaN,,NaN,NaN,,Friendly,IsiZulu,NaN,NaN
4506,799780,1996.0,July,Woman,Successfully Interviewed,614,10th,June,2020,16.5,...,80.0,Rothmans,,8.0,Rothmans,,Neither hostile nor friendly,Afrikaans,NaN,NaN
4507,799922,1971.0,January,Man,Successfully Interviewed,618,21st,May,2020,17.93,...,NaN,NaN,,NaN,NaN,,Friendly,Afrikaans,NaN,NaN