<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#3.1-Data-Description" data-toc-modified-id="3.1-Data-Description-1">3.1 Data Description</a></span></li><li><span><a href="#3.2-Data-Ingestion" data-toc-modified-id="3.2-Data-Ingestion-2">3.2 Data Ingestion</a></span></li><li><span><a href="#3.3-Data-Wrangling-and-Data-Cleaning" data-toc-modified-id="3.3-Data-Wrangling-and-Data-Cleaning-3">3.3 Data Wrangling and Data Cleaning</a></span><ul class="toc-item"><li><span><a href="#3.3.1-Wrangling-and-Cleaning-of-Employment-Data" data-toc-modified-id="3.3.1-Wrangling-and-Cleaning-of-Employment-Data-3.1">3.3.1 Wrangling and Cleaning of Employment Data</a></span></li><li><span><a href="#3.3.2-Wrangling-and-Cleaning-of-Household-Income-Data" data-toc-modified-id="3.3.2-Wrangling-and-Cleaning-of-Household-Income-Data-3.2">3.3.2 Wrangling and Cleaning of Household Income Data</a></span></li><li><span><a href="#3.3.3-Wrangling-and-Cleaning-of-Grant-Data" data-toc-modified-id="3.3.3-Wrangling-and-Cleaning-of-Grant-Data-3.3">3.3.3 Wrangling and Cleaning of Grant Data</a></span></li></ul></li><li><span><a href="#3.4-Data-Exploration-and-Analysis" data-toc-modified-id="3.4-Data-Exploration-and-Analysis-4">3.4 Data Exploration and Analysis</a></span><ul class="toc-item"><li><span><a href="#3.4.1-Exploration-and-Analysis-of-UIF-and-Other-Grants-in-April" data-toc-modified-id="3.4.1-Exploration-and-Analysis-of-UIF-and-Other-Grants-in-April-4.1">3.4.1 Exploration and Analysis of UIF and Other Grants in April</a></span></li><li><span><a href="#3.4.1-Exploration-and-Analysis-of-Household-Income-in-April" data-toc-modified-id="3.4.1-Exploration-and-Analysis-of-Household-Income-in-April-4.2">3.4.1 Exploration and Analysis of Household Income in April</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
raw_data = pd.read_csv('../Wave1.csv')
raw_data.head()

/home/dinoanasta/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (6,121,151) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,pid,w1_nc_outcome,w1_nc_intrv_c,w1_nc_intrv_d,w1_nc_intrv_m,w1_nc_intrv_y,w1_nc_duration,w1_nc_dob_m,w1_nc_dob_y,w1_nc_gen,...,w1_nc_intlng2,w1_nc_intlng3,w1_nc_intlng4,w1_nc_intlng5,w1_nc_intlng6,w1_nc_intlng7,w1_nc_intlng8,w1_nc_intlng9,w1_nc_intlng10,w1_nc_intlng11
0,301013,Successfully Interviewed,610,15th,June,2020,15.95,June,1981.0,Man,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,301058,Successfully Interviewed,611,25th,June,2020,22.03,January,1948.0,Woman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,301059,Successfully Interviewed,604,20th,June,2020,12.75,July,1990.0,Woman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,301062,Successfully Interviewed,640,25th,June,2020,22.33,June,1972.0,Woman,...,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,301067,Successfully Interviewed,609,15th,May,2020,15.2,July,1971.0,Woman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Chapter 3 - Social Welfare <a class="anchor" id="chapter2_labour"></a>

The Covid-19 pandemic has had a negative impact on the South African economy. Consequently, many people had lost their jobs during the initial stages of the pandemic as seen in the Labour section. This section aims to determine the extent to which the South African government intervened in the economy to aid and assist those who had lost their jobs and livelihoods.

Included in this section is a data description of the variables explored, an explanation of the initialization of a subset of the dataset, an explanation of the data cleaning and data wrangling methodology, as well as an exploratory analysis of the variables concerned. This exploratory analysis will investigate the relevant social welfare variables in the dataset (ie: all variables concerning household income and social grants)

## 3.1 Data Description

During the month of April 2020, participants in the survey were asked many questions regarding the impact that the Covid-19 pandemic had had on their lives. The variables that are analysed in this section correspond to the questions in the survey that relate to social welfare. 

**Employment in April**
*  **job_in_apr'** : Did you have any kind of job in April?
* **'work_in_apr'** : Did you work for profit/pay even just for an hour or a small amount in April?

**UIF and Other Grants in April**
* **uif_in_apr** : Did you receive the UIF reduced work time benefit in April?
* **grant_from_gov_ques** : Did you receive any kind of grant from the government in April?
* **grant_from_gov** : If you did receive a grant from the government in April, what kind of grant did you receive? 
<br><br>

**Household Income in April** 
* **src_income_before_apr** : What was your household's main source of income before lockdown started on 27 March 2020?
* **lost_income_in_apr** : Has your household lost its main source of income since the lockdown started on 27 March 2020?
* **total_income_in_apr** : What was your household's total income after tax in April?
<br><br>

## 3.2 Data Ingestion

In this subsection, a subset of the raw dataframe is generated. This subset stores all of the relevant variables concerning social welfare in the raw dataframe. In addition, all of the variables in this subset have been appropriately renamed. For example, the variable named **w1_nc_hhinc** corresponding to the survery question, "What was your household's total income after tax in April?" in the raw dataframe was renamed to **total_income_in_apr**. Now, one can easily determine the meaning of the variable and the type of data it stores from first glance, instead of having to compare it with the key available on www.datafirst.uct.ac.za. 

Another measure implemented during this data ingestion phase was the appending of columns. In the raw dataframe the variables corresponding to the questions "Did you receive any kind of grant from the government in April?" and "What was your household's main source of income before lockdown started on 27 March 2020?" were split into 3 columns. The reason for this was not made clear. For improved readability and efficiency those columns were appended using the **append(pd.Series, ignore_index=True)** function to make them into one column. This appendage did not affect the data.

In [3]:
swdf = pd.DataFrame()

# Employment in April Data
swdf['job_in_apr'] = raw_data['w1_nc_em_apr']
swdf['work_in_apr'] = raw_data['w1_nc_emany_apr']

# Household Income in April - Here 3 columns are appended
income1 = raw_data['w1_nc_hhincsrc1']; income2 = raw_data['w1_nc_hhincsrc2'];  income3 = raw_data['w1_nc_hhincsrc3']; 
income = income1.append(income2, ignore_index=True).append(income3, ignore_index=True)

swdf['src_income_before_apr'] = income
swdf['lost_income_in_apr'] = raw_data['w1_nc_hhincchng']
swdf['total_income_in_apr'] = raw_data['w1_nc_hhinc']

# UIF and Other Grants in April - Here 3 columns are appended
swdf['uif_in_apr'] = raw_data['w1_nc_uneminc_uif']
swdf['grant_from_gov_ques'] = raw_data['w1_nc_incgov']

grant1 = raw_data['w1_nc_incgovtyp1']; grant2 = raw_data['w1_nc_incgovtyp2']; grant3 = raw_data['w1_nc_incgovtyp3']; 
grant = grant1.append(grant2, ignore_index=True).append(grant3, ignore_index=True)

swdf['grant_from_gov'] = grant

This is what the social welfare dataframe, appropriately named swdf, looks like:

In [4]:
display(swdf.head())
print("")
display(swdf.info())

,job_in_apr,work_in_apr,src_income_before_apr,lost_income_in_apr,total_income_in_apr,uif_in_apr,grant_from_gov_ques,grant_from_gov
0,No,No,Income from a business,No,Don't Know,No,Yes,Disability Grant
1,NaN,NaN,Government grants,No,3500.0,NaN,Yes,Old Age Pension Grant (OAP)
2,No,No,Government grants,Yes,1500.0,No,Yes,Child Support Grant (CSG)
3,No,No,Government grants,Yes,4200.0,NaN,Yes,Child Support Grant (CSG)
4,No,No,Government grants,No,Don't Know,No,No,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7073 entries, 0 to 7072
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_in_apr             6426 non-null   object
 1   work_in_apr            4954 non-null   object
 2   src_income_before_apr  7071 non-null   object
 3   lost_income_in_apr     7073 non-null   object
 4   total_income_in_apr    7072 non-null   object
 5   uif_in_apr             1918 non-null   object
 6   grant_from_gov_ques    7072 non-null   object
 7   grant_from_gov         1516 non-null   object
dtypes: object(8)
memory usage: 442.2+ KB

None

## 3.3 Data Wrangling and Data Cleaning

In this section, the process of cleaning and wrangling the swdf dataframe of all noise is explained. Firstly, the columns of this dataframe are set to the "category" data type, because they all store categorical data. The **total_income_in_apr** was also set to the "category" data type for reasons that will be explained in 3.3.2. 

The cleaning process is similar for all subsequent subsections. First, the **value_counts()** method is ran on a specific column in the swdf dataframe. This method returns the count of all of the unique values in that column. The unique values that are returned are analysed and compared with the kind of values one would expect for that column. If there were any discrepancies between the values that were returned and the kind of values expected, then those values are dealt with in the most appropriate manner. For example, a lot of the columns had meaningless values, such as "Refused" or "Don't know" for the question that was asked. Those meaningless values were converted to NaN using the **replace_errors()** function. Then, where it was applicable, the rows with NaN values were dropped from the dataframe using the **notna()** function. Where not applicable, those values were **imputed** in the most suitable manner. An example of this can be found in section 3.3.2 and 3.3.3 and will be explained in that section. 

Once the cleaning and wrangling operations have been completed the number of rows $\geq$ 50 $*$ (number of columns). Therefore, useful inferences can still be made about the data, despite having so many rows dropped because of NaN values.

In [5]:
swdf['job_in_apr'] = swdf['job_in_apr'].astype('category') 
swdf['work_in_apr'] = swdf['work_in_apr'].astype('category') 
swdf['src_income_before_apr'] = swdf['src_income_before_apr'].astype('category') 
swdf['lost_income_in_apr'] = swdf['lost_income_in_apr'].astype('category') 
swdf['total_income_in_apr'] = swdf['total_income_in_apr'].astype('category') 
swdf['uif_in_apr'] = swdf['uif_in_apr'].astype('category') 
swdf['grant_from_gov_ques'] = swdf['grant_from_gov_ques'].astype('category') 
swdf['grant_from_gov'] = swdf['grant_from_gov'].astype('category') 
swdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7073 entries, 0 to 7072
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_in_apr             6426 non-null   category
 1   work_in_apr            4954 non-null   category
 2   src_income_before_apr  7071 non-null   category
 3   lost_income_in_apr     7073 non-null   category
 4   total_income_in_apr    7072 non-null   category
 5   uif_in_apr             1918 non-null   category
 6   grant_from_gov_ques    7072 non-null   category
 7   grant_from_gov         1516 non-null   category
dtypes: category(8)
memory usage: 83.8 KB

In [6]:
def replace_errors(x):
    if x == "Other" or x == "Don't know" or x == "Refused" or x=='Missing' or x== "Don't Know" or x=="Donât know" or x =="Other (Specify)":
        return np.NaN
    return x

### 3.3.1 Wrangling and Cleaning of Employment Data

Let's take a look at the unique values of the **job_in_apr** and **work_in_apr** columns.

In [7]:
# Job in April
print('Did you have any kind of job in April?')
display(swdf['job_in_apr'].value_counts())
print("Number of missing values in the 'job_in_apr' column: ", swdf['job_in_apr'].isnull().sum(), "\n")

# Work in April 
print('Did you work for profit/pay even just for an hour or a small amount in April?')
display(swdf['work_in_apr'].value_counts())
print("Number of missing values in the 'work_in_apr' column: ", swdf['work_in_apr'].isnull().sum(), "\n")

Did you have any kind of job in April?

No            4857
Yes           1472
Refused         87
Don't know      10
Name: job_in_apr, dtype: int64

Number of missing values in the 'job_in_apr' column:  647

Did you work for profit/pay even just for an hour or a small amount in April?

No            4648
Yes            185
Refused         97
Don't know      24
Name: work_in_apr, dtype: int64

Number of missing values in the 'work_in_apr' column:  2119

Both these columns should only store either a "Yes" or a "No" value. Therefore, the incorrect values will be cleaned using the process described in 3.2. **job_in_apr** is only missing 9% of its data, whereas **work_in_apr** is missing 30% of its data. 
Unfortunately, all of the rows with missing values need to be dropped. Due to this data being categorical, one cannot simply impute values for the missing data without making drastic changes in the data.

In [8]:
# Job in April
swdf['job_in_apr'] = swdf['job_in_apr'].apply(replace_errors)
swdf = swdf[swdf['job_in_apr'].notna()]
print("Did you have any kind of job in April?")
display(swdf['job_in_apr'].value_counts())

# Work in April
swdf['work_in_apr'] = swdf['work_in_apr'].apply(replace_errors)
swdf = swdf[swdf['work_in_apr'].notna()]
print("Did you work for profit/pay even just for an hour or a small amount in April?")
display(swdf['work_in_apr'].value_counts())

Did you have any kind of job in April?

No     4857
Yes    1472
Name: job_in_apr, dtype: int64

Did you work for profit/pay even just for an hour or a small amount in April?

No     4642
Yes     185
Name: work_in_apr, dtype: int64

### 3.3.2 Wrangling and Cleaning of Household Income Data

Let's take a look at the unique values of the **src_income_before_apr**, **lost_income_in_apr** and **total_income_in_apr** columns.

In [9]:
# Main source of before in April
print("What was your household's main source of income before lockdown started on 27 March 2020?")
display(swdf['src_income_before_apr'].value_counts())
print("Number of missing values in the 'src_income_before_apr' column: ", swdf['src_income_before_apr'].isnull().sum(), "\n")
print("")

# Lost main source of income after April
print("Has your household lost its main source of income since the lockdown started on 27 March 2020?")
display(swdf['lost_income_in_apr'].value_counts())
print("Number of missing values in the 'lost_income_in_apr' column: ", swdf['lost_income_in_apr'].isnull().sum(), "\n")
print("")

# Household income tax after April
print("What was your household's total income after tax in April?")
display(swdf['total_income_in_apr'].value_counts())
print("Number of missing values in the 'total_income_in_apr' column: ", swdf['total_income_in_apr'].isnull().sum(), "\n")
print("")

What was your household's main source of income before lockdown started on 27 March 2020?

Government grants                      1958
Income from employment                 1605
Household had no income in February     401
Money from friends or family            400
Income from a business                  314
Other (specify)                          76
Don't know                               36
Refused                                  35
Name: src_income_before_apr, dtype: int64

Number of missing values in the 'src_income_before_apr' column:  2


Has your household lost its main source of income since the lockdown started on 27 March 2020?

No            2566
Yes           2149
Don't know     103
Refused          9
Name: lost_income_in_apr, dtype: int64

Number of missing values in the 'lost_income_in_apr' column:  0


What was your household's total income after tax in April?

Don't Know    1622
0.0            369
Refused        246
2000.0         155
3000.0         136
              ...
4350.0           0
13600.0          0
1360.0           0
13500.0          0
4169.0           0
Name: total_income_in_apr, Length: 460, dtype: int64

Number of missing values in the 'total_income_in_apr' column:  1

The "Don't know" and "Refused" values in the **src_income_before_apr** and the **lost_income_in_apr** will be removed from these columns using the process described in 3.2, since they make up less than 3% of the data in both columns. In the case of **src_income_before_apr** the "Other (specify)" value is still relevant, because a participant could've had another main source of income that was not an option on the survey sheet. Therefore, it will not be removed. In addition, both columns have two missing values between the two of them which can be dropped without significantly affecting the data. 

In the case of the **total_income_in_apr**, the "Don't know" and "Refused" values cannot be removed, because they make up the bulk of the data. Furthermore, the **total_income_in_apr** stores numerical data. Therefore, "Don't know" and "Refused" can't be values within this column, since they are both categorical values. **Mean imputation** is implemented to solve this issue. The "Don't Know" and refused values are both set to the mean value of the series. The mean was calculated with those two values excluded

In [10]:
# Source of income before April 
# swdf['src_income_before_apr'] = swdf['src_income_before_apr'].apply(replace_errors)
swdf = swdf[swdf['src_income_before_apr'].notna()]
print("What was your household's main source of income before lockdown started on 27 March 2020?")
display(swdf['src_income_before_apr'].value_counts())

# Lost main source of income after April
swdf['lost_income_in_apr'] = swdf['lost_income_in_apr'].apply(replace_errors)
swdf = swdf[swdf['lost_income_in_apr'].notna()]
print("Has your household lost its main source of income since the lockdown started on 27 March 2020?")
display(swdf['lost_income_in_apr'].value_counts())

# Household income tax after April
swdf_income = swdf['total_income_in_apr']
swdf_income = swdf_income[swdf_income != "Don't Know"]
swdf_income = swdf_income[swdf_income != "Refused"]
swdf['total_income_in_apr'] = swdf['total_income_in_apr'].astype('float64') 

mean = round(swdf_income.mean(),0)

swdf['total_income_in_apr'] = swdf['total_income_in_apr'].replace(to_replace ="Don't Know", value=mean)
swdf['total_income_in_apr'] = swdf['total_income_in_apr'].replace(to_replace ="Refused", value=mean)
display(swdf['total_income_in_apr'].value_counts())
swdf = swdf[swdf['total_income_in_apr'].notna()]

What was your household's main source of income before lockdown started on 27 March 2020?

Government grants                      1958
Income from employment                 1605
Household had no income in February     401
Money from friends or family            400
Income from a business                  314
Other (specify)                          76
Don't know                               36
Refused                                  35
Name: src_income_before_apr, dtype: int64

Has your household lost its main source of income since the lockdown started on 27 March 2020?

No     2564
Yes    2149
Name: lost_income_in_apr, dtype: int64

ValueError: Cannot cast object dtype to float64

### 3.3.3 Wrangling and Cleaning of Grant Data

Let's take a look at the unique values of the **src_income_before_apr**, **lost_income_in_apr** and **total_income_in_apr** columns.

In [ ]:
print("Did you receive the UIF reduced work time benefit in April?")
display(swdf['uif_in_apr'].value_counts())
print("Number of missing values in 'uif_in_apr': ", swdf['uif_in_apr'].isnull().sum(), '\n')

print("Did you receive any kind of grant from the government in April?")
display(swdf['grant_from_gov_ques'].value_counts())
print("Number of missing values in 'grant_from_gov_ques': ", swdf['grant_from_gov_ques'].isnull().sum(), '\n')

print("If you did receive a grant from the government in April, what kind of grant did you receive?")
display(swdf['grant_from_gov'].value_counts())
print("Number of missing values in 'grant_from_gov': ", swdf['grant_from_gov'].isna().sum(), '\n')
print("")

An interesting observation is that the **grant_from_gov_ques** has no missing values. We can use this column to **impute** missing values in the **uif_in_apr** column. In this case we are assuming that if someone responded "No" to receiving any kind of grant from the government, then this implies that they did not receive the reduced work time benefit in April. For the **grant_from_gov_ques** we again remove the "Refused" and "Don't know" values. 

Also note that **'grant_from_gov'** missing 3681 values is correct. In the **grant_from_gov_ques** only 966 participants responded with "Yes". For the participant to be able to stipulate what kind of grant they received from the government they had to have had first received a grant from the government. The 3681 missing values are of participants who did not receive a grant from the government. Only the updated columns are represented in the following cell.

In [ ]:
# Fill missing values for uif_in_apr and remove incorrect values
swdf.uif_in_apr.fillna(swdf.grant_from_gov_ques, inplace=True)
swdf['uif_in_apr'] = swdf['uif_in_apr'].apply(replace_errors)
swdf = swdf[swdf['uif_in_apr'].notna()]
print("Did you receive the UIF reduced work time benefit in April?")
display(swdf['uif_in_apr'].value_counts())

# Remove unwanted results in grant_from_gov_ques
swdf['grant_from_gov_ques'] = swdf['grant_from_gov_ques'].apply(replace_errors)
swdf = swdf[swdf['grant_from_gov_ques'].notna()]
grant_from_gov_ques = swdf['grant_from_gov_ques'] 
print("Did you receive any kind of grant from the government in April?")
display(swdf['grant_from_gov_ques'].value_counts())

# Types of grants
swdf['grant_from_gov'] = swdf['grant_from_gov'].apply(replace_errors)
swdf = swdf[swdf['grant_from_gov'].notna()]
print("If you did receive a grant from the government in April, what kind of grant did you receive?")
display(swdf['grant_from_gov'].value_counts())

## 3.4 Data Exploration and Analysis

This section contains an investigation of the now cleaned and wrangled swdf dataframe. The exploration and analysis will look at 2 main components: grants received from the government and household income during April 2020.

### 3.4.1 Exploration and Analysis of UIF and Other Grants in April

Due to the mandated lockdown of 27 March 2020 many people were not able to go to work. To assist those that had now found themselves unemployed, the South African government stated that it would make available a UIF reduced work-time benefit in April 2020. The following three cells investigate the number of unemployed participants that actually received this benefit from the government during this time.

In order to have been eligible to have received the UIF reduced work time benefit in April 2020 one must have either had their working hours reduced or have had lost their job during this time. The upcoming cell initializes an **unemployed_swdf** dataframe that only stores the data of participants that were unemployed during April 2020 (ie: the values in the **job_in_apr** and **work_in_apr** are both "No" for this subset of participants).

In [ ]:
unemployed_swdf = swdf.loc[(swdf['job_in_apr']=='No') & (swdf['work_in_apr']=='No')]

In [ ]:
unemployed_swdf = unemployed_swdf['uif_in_apr'].value_counts()/len(unemployed_swdf['uif_in_apr'])
plt.figure(figsize=(10,6))
unemployed_swdf.plot(kind='bar');
plt.title("Did You Receive A UIF Reduced Work-Time Benefit in April?");
plt.xlabel("Response"); plt.ylabel("Proportion")

It is fair to assume that most (if not all) unemployed participants in the sample would have not only been eligible to receive this benefit from the government during this time. It is also fair to assume that they would have applied for this benefit. However, less than 20% of unemployed participants received this benefit.

The following three cells investigate the other kinds of grants participants received from government during the inital stages of the Covid-19 pandemic.

In [ ]:
grant_from_gov_ques = grant_from_gov_ques.value_counts()/len(grant_from_gov_ques)
plt.figure(figsize=(10,6))
grant_from_gov_ques.plot(kind='bar');
plt.title("Did you receive any kind of grant from the government in April?");
plt.xlabel("Response"); plt.ylabel("Proportion")

Only about 20% of the sample space actually receieved any kind of grant from the government during April 2020. What kind of grants were these? And what kind of person was most likely to receive a grant from the government at this time?

In [ ]:
grant_from_gov = swdf['grant_from_gov'].value_counts()/len(swdf['grant_from_gov'])
plt.figure(figsize=(10,6))
sns.barplot(y = grant_from_gov.index, x = grant_from_gov.values)
plt.xlabel('Proportion')
plt.title("If you did receive a grant from the government in April, what kind of grant did you receive?")
plt.show()

Over 40% of the sample received the Child Support Grant (CSG), and the second most receieved grant was the Old Age Pension Grant (OAP). A quick observation that could be made from this is that senior citizens and those with children were more likely to receive a grant from the government during this time.

### 3.4.1 Exploration and Analysis of Household Income in April

Here we explore the different ways that participants earn an income

In [ ]:
src_income_before_apr = swdf['src_income_before_apr'].value_counts()/len(swdf['src_income_before_apr'])
plt.figure(figsize=(10,6))
sns.barplot(y = src_income_before_apr.index, x = src_income_before_apr.values)
plt.xlabel('Proportion')
plt.title("What was your household's main source of income before lockdown started on 27 March 2020?")
plt.show()

An interesting observation is that over 60% of the participants stated that their main source of income came from government grants, yet only 20% of them actually received a grant from the government.

In [ ]:
lost_income_in_apr = swdf['lost_income_in_apr'].value_counts()/len(swdf['lost_income_in_apr'])
plt.figure(figsize=(10,6))
lost_income_in_apr.plot(kind='bar');
plt.title("Has your household lost its main source of income since the lockdown started on 27 March 2020?");
plt.xlabel("Response"); plt.ylabel("Proportion")

Only about 40% of people had their income decreased.